<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.14" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Cd" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Cm" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.XConnect.Web" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ExM.Framework" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms.Mvc" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="5.0.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.OperationsClient" version="10.2.0" targetFramework="net48" />
</packages>